/* Repeated use of !important property to overide Bootstrap styling */

/*Added custom css to resolve color issue with navbar */
.navbar {
  color: #232c34;
  background-color: #157ebf;
}

.intro-2 {
  background: url(../images/heroimage.webp) no-repeat center center;
  background-size: cover;
  padding-top: 100px;
}

.dropdown-menu {
  background-color: #6aaed9;
}

#intro {
  height: 100%;
}

.dropdown-item {
  color: #105691;
}

#landing-text {
  text-align: center;
  color: #faebd7 !important;
}

#landing-subtext {
  font-size: 1.25rem;
  text-align: center;
  color: #faebd7 !important;
}

/* Added custom alignment as I couldn't get Bootstrap alignment to function properly */
/* .white-text {
  text-align: justify !important;
  color: #ffffff !important;
  padding-top: 100px !important;
  padding-bottom: 25px !important;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 20px !important;
  position: relative;
} */

/* Added custom alignment as I couldn't get BS alignment to function properly */
#new-stories {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

#contact-form {
  width: 40%;
  padding-left 20%;
}

#contact-form-title {
  text-align: center;
}

#submit {
  background-color: #4480a6;
  color: #d0e2f2;
  width: 80%;
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

li {
  font-size: 1.25rem !important;
}

.dropdown-menu {
  font-size: 1.25rem !important;
}

.blockquote {
  font-size: 1.25rem;
}

.rounded-circle {
  margin-top: 20px;
}

.story {
  margin-top: 40px !important;
}

.capital {
  font-size: 150% !important;
  padding-right: 1px;
}

.page-footer {
  background-color: #232c34 !important;
  color: white !important;
  text-align: center !important ;
}

#march-2020 {
  background-color: #232c34;
  color: white;
}

#february-2020 {
  background-color: #105691;
  color: white;
}

#december-2019 {
  background-color: #232c34;
  color: white;
}

#november-2019 {
  background-color: #105691;
  color: white;
}

html,
body,
header,
.view {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #f2e0bd;
  font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 2rem !important;
  }
  .navbar-brand,
  .nav-link,
  .dropdown-item {
    font-size: 1.25rem !important;
  }  
  .blockquote {
    font-size: 2.5rem !important;
  }
  p {
    font-size: 1.25rem !important;
  }
} 