/* Repeated use of !important property to overide issues with Bootstrap */

/*Added custom css to resolve color issue with navbar */
.navbar {
  color: #59310e;
  background-color: #157ebf;
}

.intro-2 {
  background: url(..images/heroimage.jpg) no-repeat center center;
  background-size: cover;
}

.dropdown-menu {
  background-color: #d0e2f2;
}

#intro {
  height: 100%;
}

.dropdown-item {
  color: #4480a6;
}

.landing-text {
  text-align: center;
}

/* Added custom alignment as I couldn't get Bootstrap alignment to function properly */
.white-text {
  text-align: justify !important;
  color: #ffffff !important;
  padding-top: 10% !important;
  padding-bottom: 25px !important;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 20px !important;
}

/* Added custom alignment as I couldn't get BS alignment to function properly */
/* #new-stories {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding-top: 5px !important;
} */

#contact-form {
  width: 100%;
}

#contact-form-title {
  text-align: center;
}

#submit {
  background-color: #4480a6;
  color: #d0e2f2;
  width: 80%;
  border-radius: 12px;
}

li {
  font-size: 1.25rem !important;
}

.dropdown-menu {
  font-size: 1.25rem !important;
}

.story {
  margin-top: 40px !important;
}

.capital {
  font-size: 150% !important;
  padding-right: 1px;
}

html,
body,
header,
.view {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #f2e0bd;
}
